This button is dependent on the styles.css document that ITA has access to.

Not Interactive Button
<p><button class="btn btn-pill btn-primary">Primary</button></p>

Button as a Hyperlink
This should work but it does not.
<p>
  <a href="https://sdg.lamayor.org/sites/g/files/wph1131/f/LA%27s_Voluntary_Local_Review_of_SDGs_2019.pdf" target="_blank">
    <button class="btn btn-pill btn-primary">Download the 2019 VLR Report</button>
  </a>
</p>

The button that actually works in the City of LA Drupal 8.
Dependency: styles.css in City of LA Drupal 8.
<p><a class="btn btn-primary" href="#"><span class="text">Learn more</span></a></p>
