<!--
This document supplements the Figma Style Guide for sdg.lamayor.org.
It contains the code to create these headings within Drupal 7.

When implementing these in code, create classes and variables for these to reduce redundant code.
-->

<!--
Heading 1
-->
<br><!--Divider-->
<h1 size="7" style="text-align: center;">HEADING 1
</h1>
<p style="color: #0083BF; text-align: center;">────────
</p>
<br><!--Divider-->
<!--
Heading 2
-->
<br> <!--Divider-->
<h2 style="line-height: inherit;">
  <font style="background:#0083BF; padding:10px; font-weight:bold" size="7" color="white">HEADING 2
  </font>
</h2>
<br> <!--Divider-->
<!--
Heading 3
-->
<br> <!--Divider-->
<h3 align="left">
  <font size="6">Heading 3
  </font>
</h3>
<br> <!--Divider-->
<!--
Heading 4
-->
<br> <!--Divider-->
<h4 align="left">
  <font size="4">HEADING 4
  </font>
  HEADING 4
</h4>
<br> <!--Divider-->
<!--
Body
-->
<br> <!--Divider-->
<p align="left">
  Body
</p>
<br> <!--Divider-->
<!--
Hyperlink
-->

<!--
Quote
-->
<br> <!--Divider-->
<center>
  <!-- <hr style="background:#0083BF; opacity:0.8" size="2">
  -->
  <font size="5" color="#606060">"Quote." - Mayor
  </font>
</center>
<br> <!--Divider-->
<!--
Button & Meta
-->
<br> <!--Divider-->
<a href="https://sdgdata.lamayor.org/" style="font-weight:bold; color:#0083BF; font-size:35px;" target="_blank">↗ BUTTON & META
</a>
<br> <!--Divider-->
